include rebound/src/*.c
include rebound/src/*.h
include progress/*.c
include progress/*.h
include planetplanet/photo/*.c
include planetplanet/photo/*.h
include planetplanet/photo/posteriors.dat
include planetplanet/photo/inclination.dat
include planetplanet/detect/filter_files/*